name: build

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    name: with jdk ${{ matrix.java }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ '8', '11', '14' ]
    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
            java-version: ${{ matrix.java }}
      - name: Run Maven build (JDK 8)
        run: ./mvnw -pl !org.neo4j.doc.driver:testing-with-neo4j-harness,!org.neo4j.doc.driver:embedded-bolt-connection --no-transfer-progress clean verify -Drevision=4.0 -Dchangelist=-SNAPSHOT
        if: matrix.java == 8
      - name: Run Maven build (JDK 11+)
        run: ./mvnw --no-transfer-progress clean verify -Drevision=4.0 -Dchangelist=-SNAPSHOT
        if: matrix.java != 8
